<div class="container">
  <img src="path/to/your/image.jpg" alt="Your Image" class="image">
  <div class="content">
    <h1>¿Qué es lo más importante para ti?</h1>
    <div class="options">
      <div class="option">
        <i class="icon-example"></i>
        <span>Hogar</span>
      </div>
      <div class="option">
        <i class="icon-example"></i>
        <span>Salud</span>
      </div>
      <div class="option">
        <i class="icon-example"></i>
        <span>Finanzas</span>
      </div>
      <div class="option">
        <i class="icon-example"></i>
        <span>Vehículo</span>
      </div>
    </div>
  </div>
</div>
